.header_outerContainer{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
    background-color: rgb(20,20,20);
    height: 10vh;
    color: white;
    transition: all 0.5s;
    /* to animate every CSS property */
    transition-timing-function: ease-in;
   /* controls HOW the animation moves-->its the speed curve/timing functions -->Starts slow → ends fast */
    z-index: 1;
    
}
.leftside ul{
    width: 140%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    /* background-color: lightblue; */
}
.rightside ul{
    width: 120%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    /* background-color: lightblue; */
}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}