.header_outerContainer{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    height: 10vh;
    color: white;
    transition: all 0.5s;
    /* to animate every CSS property */
    transition-timing-function: ease-in;
   /* controls HOW the animation moves-->its the speed curve/timing functions -->Starts slow → ends fast */
    z-index: 1;
    
}
.header_black {
    background-color: rgba(20, 20, 20, 1);
}

.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftside ul{
    width: 140%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.leftside img{
    width: 10vw;
}
.rightside ul{
    width: 120%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
