.footer_outerContainer{
    background-color: #111;
    color: gray;
    display: flex;
    justify-content: center;
}
.innerContainer{
    width: 60%;
}
.footerIcons{
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
}
.footer_data{
    display: flex;
    justify-content: space-between;
}
.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}
.footer_data ul li{
    cursor: pointer;
}
.service_code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 10%;
    margin: 10px 0;
    cursor: pointer;
}
.copy_write{
    font-size: 12px;
    margin-bottom: 10px;
}