.banner {
  margin-top: 10vh;
  margin-bottom: 0;
  height: 60vh;
  color: white;
  object-fit: cover;
}

.banner-contents {
  margin-left: 30px;
  padding-top: 160px;
  /* height: 190px; */
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description {
  width: 45rem;
  line-height: 1.3;
  padding: 1rem 0;
  font-size: 1rem;
  max-width: 360px;
  height: auto;
}

.banner_button {
cursor: pointer;
color: #fff;
outline: none;
border: none;
font-size: 1.2rem;
font-weight: 700;
border-radius: 0.2vw;
padding: 1rem 3rem;
margin-right: 2rem;
background-color: rgba(51,51,51,0.5);
}
.play{
  color: #000;
  background-color: #fff;
}
.banner_button:hover{
  color: #000;
  background-color: #c6c6c6;
  transition: all 0.2s;
}
.fadebottom{
  height: 12vh;
  background-image:linear-gradient(180deg,transparent,rgb(37,37,37,0.91),#111);
}

